__pycache__
old.py
old_cholmod.py
*.vtk
*.stl
*.png
*.pdf
*.step
*.msh
*.prof
*.npz
*.csv
*.log
!images/*.pdf
!images/*.png
!docs/source/_static/*.png
!examples/filter/mbb2d_240x80_v0.5_ft0.csv
!examples/linsolvers/xPhys_mbb2d_60x20-2.4-0.5-0_25.csv
!examples/linsolvers/stiffness-matrix_mbb2d_60x20-2.4-0.5-0_25.npz
!examples/linsolvers/xPhys_heatplate2d_40x40-1.2-0.4-0_25.csv
!examples/linsolvers/stiffness-matrix_heatplate2d_40x40-1.2-0.4-0_25.npz
examples/fdm/runs
docs/build/
dist/
*~
.coverage
!tests/test_files/box.step
*.prof