__pycache__
old.py
old_cholmod.py
*.vtk
*.stl
*.png
*.pdf
*.step
*.msh
*.prof
!images/*.pdf
!images/*.png
!docs/source/_static/*.png
!examples/filter/mbb2d_240x80_v0.5_ft0.csv
*.log
*.npz
*csv
examples/fdm/runs
docs/build/
dist/
*~
.coverage
!tests/test_files/box.step
*.prof